<div #content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label for="inputUrl">OData URL:</ion-label>
        <ion-input name="inputUrl" type="text" [(ngModel)]="url" (ngModelChange)="onUrlChange($event)" width="400"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="selectTable">Entities:</ion-label>
        <ion-select interface="popover" name="selectTable" (ngModelChange)="updateGrid($event)" [(ngModel)]="tableName">
          <ion-option *ngFor="let table of tables" [value]="table">{{table}}</ion-option>
        </ion-select>
      </ion-item>


      <seed-grid #grid [tableName]="tableName" [url]="url">
      </seed-grid>
    </ion-list>
  </div>
</div>
