<div #content>
  <div>
    <div>
      <label for="inputUrl">OData URL:</label>
      <input name="inputUrl" type="text" [(ngModel)]="url" (ngModelChange)="onUrlChange($event)" width="400" value="http://localhost:7276/api/odata/" />

      <label for="inputUrl">Entities:</label>
      <select (ngModelChange)="grid.refresh()" [(ngModel)]="tableName">
      <option *ngFor="let table of tables" [ngValue]="table">{{table}}</option>
    </select>
      <div>

      </div>
      <seed-grid #grid [tableName]="tableName" [url]="url">
      </seed-grid>
    </div>